<a href="https://colab.research.google.com/github/tranquil-morning/CA-deeplearning/blob/main/01_Basic_CNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import tensorflow as tf
import pandas as pd
import numpy as np

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
 gpa_score = pd.read_csv("drive/MyDrive/Colab Notebooks/gpascore.csv")

In [3]:
gpa_score.head()

   admit    gre   gpa  rank
0      0  380.0  3.21     3
1      1  660.0  3.67     3
2      1  800.0  4.00     1
3      1  640.0  3.19     4
4      0  520.0  2.33     4

In [4]:
gpa_score.isnull().sum()

admit    0
gre      1
gpa      0
rank     0
dtype: int64

In [5]:
gpa_score = gpa_score.dropna()
 # gpa_score.fillna(gpa_score['gre'].mean())

In [6]:
x_data = gpa_score.iloc[:,1:4].values
y_data = gpa_score['admit'].values

x_data = np.array(x_data)
y_data = np.array(y_data)

In [7]:
model = tf.keras.models.Sequential([
                                    tf.keras.layers.Dense(64, activation =  tf.keras.activations.relu),
                                    tf.keras.layers.Dense(128, activation = tf.keras.activations.relu),
                                    tf.keras.layers.Dense(64, activation = tf.keras.activations.relu),
                                    tf.keras.layers.Dense(1, activation = tf.keras.activations.sigmoid)
                                    
])

In [8]:
model.compile(optimizer = tf.keras.optimizers.Adam(),
              loss = tf.keras.losses.binary_crossentropy,
              metrics = ["Accuracy"])

In [9]:
model.fit(x_data, y_data, epochs = 1000, verbose = 0)

In [ ]:
model.predict(x_data)